<html>
    <head>
        <h1>Ajouter un article</h1>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <form method="post" action="/item/new">
            Nom :
            <input type="text" name="name" /><br/>
            Quantité :
            <input type="text" name="count" class="1" /><br/>
            <input type="hidden" name="iditem" value="-1" />
            <button type="submit" name="save" class="checked">Enregistrer</button>
        </form>
    </body>
</html>