body {
    size: 500px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    border: 1px lightgray solid;
    padding: 10px;
}

.checked {
    background-color: steelblue;
    padding: 10px;
    margin: 10px;
}

input[type='text'] {
    align-items: stretch;
}

p {
    background-color: lightgrey;
    margin: 5px;
}

.paid {
    text-decoration: line-through;
}